{% extends "base.html.twig" %}

{% block body %}
<article>
    <h2>Titre de l'article</h2>
    <div class="metadata">Ecrit le 21/02/2021 à 23:00 dans la catégorie Politique</div>
    <div class="content">
        <img src="http://placehold.it/350x150" alt="">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem at necessitatibus modi enim natus neque.</p>
        <p>Necessitatibus consequuntur aut consectetur minima vero amet voluptates voluptatum sit cumque ab, libero blanditiis est?</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni accusantium aliquam, assumenda perspiciatis repellendus expedita excepturi eum quibusdam fugit quae placeat, laborum nostrum? Hic cum officia doloremque vel sunt, consequuntur iste explicabo totam saepe perferendis ducimus! Cum ipsa totam sint libero a quia aperiam, rem, laboriosam ipsum modi rerum nemo.</p>
        <p>Aperiam voluptate nam eaque quo, libero officiis! Perferendis, culpa dolore consequuntur ducimus voluptates ut eius doloremque ratione, recusandae fugiat quisquam nesciunt quia ipsam voluptatem eaque earum! Voluptates praesentium consequuntur earum ex eaque, eius provident sapiente velit maxime perferendis. Quidem soluta mollitia explicabo iusto recusandae dolorem blanditiis, qui rerum minus molestias.</p>
    </div>
</article>
{% endblock %}